.main-left {
  width: 85%;
  padding: 3% 8%;

  > .top-btn {
    background-color: rgb(46, 46, 46);
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    color: rgb(226, 150, 9);
    font-size: 13px;
    font-weight: 700;
  }

  > .punchLine {
    margin-top: 40px;

    > h1,
    h2 {
      font-size: 70px;
      margin: 0;
    }

    > h1 {
      color: rgb(226, 150, 9);
      > u {
        text-decoration: none;
        color: aliceblue;
      }
    }
  }

  > .punch-para {
    font-size: 12px;
    width: 70%;
    margin-bottom: 40px;
    margin-top: 30px;
    color: rgba(240, 248, 255, 0.384);
  }

  > .btn {
    display: flex;
    justify-content: space-evenly;
    width: 350px;

    > .left-btn,
    .right-btn {
      background-color: rgb(226, 150, 9);
      border: none;
      border-radius: 25px;
      padding: 13px 30px;
      color: rgb(46, 46, 46);
      font-size: 18px;
      font-weight: 700;
      transition: all 0.2s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }

    > .right-btn {
      background-color: rgb(46, 46, 46);
      color: white;
    }
  }
  > .acolades {
    margin-top: 50px;
    > span {
      font-size: 35px;
      margin-right: 20px;
      font-weight: 700;
      color: rgba(240, 248, 255, 0.384);
    }
    > .middle {
      margin-right: 35px;
    }
    > .last {
      margin-right: 1px;
    }
  }

  > .acolades-para {
    width: 100%;
    > span {
      font-size: 13px;
      margin-right: 65px;
      font-weight: 600;
      color: rgba(240, 248, 255, 0.384);
    }
    > .middle {
      margin-right: 25px;
    }
    > .last {
      margin-right: 0px;
    }
  }
}

@media screen and (max-width: 400px) {
  .main-left {
    > .btn {
      width: 320px;
      > .left-btn,
      .right-btn {
        padding: 10px 25px;
      }
    }
  }
}

.main-right {
}

.main1 {
  min-height: 75vh;
  background-color: #0e0d0d;
  background-image: url(../pics/main1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;

  > .jumbotron {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 8%;
    > .punch {
      flex: 1;
      > h3 {
        color: rgb(226, 150, 9);
        margin: 0;
      }
      > h1 {
        margin: 0;
        font-size: 48px;
        margin-bottom: 8px;
      }
      p {
        margin: 0;
        margin-top: 10px;
      }
    }

    > .yoga,
    .boxing,
    .training {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      > img {
        width: 200px;
      }
      > h1 {
        margin: 0;
        text-align: center;
      }
      > p {
        margin: 0;
      }
    }
  }

  > .jumbotron2 {
    > h1 {
      text-align: center;
      color: rgb(226, 150, 9);
    }
    > p {
      text-align: center;
      color: grey;
    }

    > .cards {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      width: 80%;
      margin-top: 80px;

      > .card {
        flex: 1;
        width: 300px;
        margin-bottom: 30px;
        > img {
          width: 300px;
          border-radius: 20px;
        }

        > h1 {
          font-size: 22px;
          margin: 10px;
        }
        > p {
          margin: 10px;
          color: grey;
        }
      }
    }
  }
}

.main2 {
  display: flex;
  background-image: url(../pics/main3.svg);
  min-height: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
  color: antiquewhite;

  > .main-left {
    flex: 1;
  }

  > .main-right {
    padding: 5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h1 {
      margin: 0;
      font-size: 52px;
    }
    > p {
      display: flex;
      flex-direction: column;
      color: grey;
      > span {
        margin-bottom: 3px;
        font-size: 18px;
        letter-spacing: 1px;
      }
    }
    > .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      > .box {
        width: 200px;
        background-color: rgb(48, 47, 47);
        margin-right: 30px;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 20px;
        > h1 {
          color: orange;
          text-align: center;
        }

        > p {
          text-align: center;
        }
      }
    }
  }
}



.main3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e0d0d;
  color: antiquewhite;
 

  >h1{
    font-size: 52px;
    color: orange;

  }

  >.trainer-cards{
    display: flex;
    justify-content: space-between;

    >.card{
      width: 500px;

      >img{

      }

      >p{

      }
    }
  }

}