body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.navbar {
  background-color: black;
  display: flex;
  min-height: 20vh;
  justify-content: space-between;
  align-items: center;
  >.logo{
    color: aliceblue;
    margin-left: 30px;

  }

  > ul {
    margin: 10px;
    display: flex;
    > li {
      margin-left: 60px;
      list-style-type: none;
      display: flex;
      > a {
        color: antiquewhite;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        letter-spacing:1px;
        transition: all 0.5s linear;
        &:hover {
          color: burlywood;
          transform: scale(1.1);
        }
      }
    }
  }


  >.nav-btns{
    margin-right: 30px;
  }

}

.main {
  min-height: 90vh;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  display: flex;
}

.footer {
  background-color: black;
  min-height: 30vh;
  display: flex;
  align-items: center;
  > ul {
    > li {
      margin-top: 5px;
      margin-top: 5px;
      > a {
        color: antiquewhite;
        text-decoration: none;
      }
    }
  }
}

.footer2 {
  background-color: black;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  min-height: 5vh;
}
