@page
@model WebApplication1.Pages.ContactModel
@{
}



@{
    ViewData["Title"] = "Contact Us";
}

<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true">

<div class="main">

    <div class="contact">
        <h1> For any Query Contact us </h1>

        <form class="form">
            <input placeholder="Enter your name " type="text" />   

            <input placeholder="Enter your email " type="email" />

            <textarea> Enter your Query! </textarea>


            <button class="btn"> Send </button>

        </form>



    </div>








</div>