@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/index.css" rel="stylesheet" asp-append-version="true" />



<div class="main">
    
 <h1> This is homepage</h1>
 <h1> This is homepage</h1>



</div>
