@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/index.css" rel="stylesheet" asp-append-version="true" />

<div class="main">
    <div class="home">

       <h1> This is homepage under Development</h1>
        <h2> For any Queries Contact Us!</h2> 
    </div>
 


</div>
