@page
@model WebApplication1.Pages.ServiceModel
@{
}



@{
    ViewData["Title"] = "Services";
}

<link rel="stylesheet" href="~/css/services.css" asp-append-version="true">


<div class="main"> 



</div>