@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true">


<div class="main">



<div class="main-left">

    <button class="top-btn"> Feel the strength</button>

    <div class="punchLine"> 

        <h1><u>Get</u> Healthy body</h1> 
        <h2>With the Perfect</h2>
        <h1>Workouts</h1>

    </div>

    <p class="punch-para"> We are always there to help to make a 
        healthy body and mind through the power of fitness </p>

        <div class="btn">
              <button class="left-btn">Get started</button>
              <button class="right-btn">Watch Demo</button>
        </div>


        <div class="acolades">
            <span> 105 + </span>
            <span class="middle"> 870 +</span>
            <span class="last"> 185 +</span>
        </div>
        <div class="acolades-para">
            <span> Trainers</span>
            <span class="middle"> Members joined</span>
            <span class="last"> Fitness programs</span>
        </div>
   
</div>



<div class="main-right">
  
</div>

</div>




<div class="main1"> 

    <div class="jumbotron">

         <div class="punch">
        <h3> WHAT WE PROVIDE</h3>
        <h1>Embrace the</h1>
        <h1>power of fitness</h1>
        <p>Unlock Your Potential, Transform</p>
        <p>Your Body</p>
        </div>
        <div class="yoga">

        <img src="../pics/yoga.svg" alt="yoga-image"/>
        <h1> yoga</h1>
        <p>Embrace lifes's vastness,</p>
        <p>venture forth.</p>
        
        
        </div>
        <div class="boxing"> 
        <img src="../pics/yoga.svg" alt="boxing-image"/>
        <h1> Boxing</h1>
        <p>Embrace lifes's vastness,</p>
        <p>venture forth.</p>
         </div>
         <div class="training">

        <img src="../pics/yoga.svg" alt="training-image"/>
        <h1> Strength Training</h1>
        <p>Embrace lifes's vastness,</p>
        <p>venture forth.</p>
        </div>

    </div>

     <div class="jumbotron2">

        <h1> Not sure where to start</h1>
        <p> Program offer day-to-day guidance on an interactive calender to keep you on track</p>

        <div class="cards">

        
        <div class="card">
            <img src="../pics/videos.svg" alt="card-image">
            <h1>Workout Videos</h1>
            <p>Access to hundreds of free full-length workout videos</p>
            
        </div>

        <div class="card">
            <img src="../pics/workout-programs.svg"" alt="card-image">
            <h1>Workout Programs</h1>
            <p>Afordable and effective workoutprograms</p>
            
        </div>

        <div class="card">
            <img src="../pics/personal-trainer.svg" alt="card-image">
            <h1>Personal Trainers</h1>
            <p>Educating clients regarding safe and proper use of equipmet </p>
            
        </div>

        <div class="card">
            <img src="../pics/meals.svg" alt="card-image">
            <h1>Meal Plans</h1>
            <p>Plans Built with registered dietitians and nutrionists</p>
            
        </div>


      
        </div>
      
        
        
       

    </div>

</div>


<div class="main2">

    <div class="main-left"> </div>


    <div class="main-right">
        
        <h1>Get Ready to reach </h1>
        <h1>Your fitness Goals</h1>
        <p> <span>Are you ready to transform your fitness Journey? </span>
        <span>Setting Clear , achievable goals is the first step towards</span>
        <span>sucess. Whether you are aiming to lose weight , build  </span>
        <span>muscle ,or improve endurance , a diverse workout</span>
        <span>routine incorporating cardio , strength and flexibilty </span>

        <span>exercises will help you reach your targets </span>
        
        </p>
        <div class="cards">
            <div class="box">
               <h1>105+</h1> 
               <p>Expert trainers</p> 
            </div>
            <div class="box">
                <h1>870+</h1> 
               <p>Members joined</p> 
            </div>
            <div class="box">
                <h1>185+</h1> 
               <p>Training Programs</p> 
            </div>
            <div class="box">
                <h1>200+</h1> 
               <p>Online classes</p> 
            </div>
        </div>
    </div>
</div>


<div class="main3"> 

    <h1> Get to know our Team of experienced trainers</h1>

    <div class="trainer-cards"> 


        <div class="card"> 
            <img>
            <p> Trainer name</p>
        </div>

        <div class="card"> 
            <img>
            <p> Trainer name</p>
        </div>


        <div class="card"> 
            <img>
            <p> Trainer name</p>
        </div>
    
    </div>

</div>