@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true">


<div class="main">



<div class="main-left">

    <button class="top-btn"> Feel the strength</button>

    <div class="punchLine"> 

        <h1><u>Get</u> Healthy body</h1> 
        <h2>With the Perfect</h2>
        <h1>Workouts</h1>

    </div>

    <p class="punch-para"> We are always there to help to make a 
        healthy body and mind through the power of fitness </p>

        <div class="btn">
              <button class="left-btn">Get started</button>
              <button class="right-btn">Watch Demo</button>
        </div>


        <div class="acolades">
            <span> 105 + </span>
            <span class="middle"> 870 +</span>
            <span> 185 +</span>
        </div>
        <div class="acolades-para">
            <span> Trainers</span>
            <span class="middle"> Members joined</span>
            <span > Fitness programs</span>
        </div>
   
</div>



<div class="main-right">
    this is right
</div>





</div>
