@page
@model TechyTweets.Pages.SignUpModel
@{
    ViewData["Title"] = "Register With us ";
}



<link rel="stylesheet" href="~/css/signup.css" asp-append-version="true">



<div class="main">


    <div class="signup">


        <form method="post">

        <input placeholder="Enter your username" type="text" asp-for="Username" >
        <input placeholder="Enter your Email" type="email" asp-for="Email" >
        <input placeholder="Enter your Password" type="password" asp-for="Password" >
        <input placeholder="Enter your Address" type="text" asp-for="Address" >
        <input placeholder="Enter your Landmark" type="text" asp-for="Landmark" >
        <input placeholder="Enter your Designation" type="text" asp-for="Designation" >
        <input placeholder="Enter your CurrentSalary" type="text" asp-for="CurrentSalary" >
        <input placeholder="Enter your HighestQual" type="text" asp-for="HighestQual" >




        <button  class="btn"type="submit"> Register With Us </button>
        </form>





    </div>
</div>
